@{
    ViewData["Confirmation"] = "Confirmation";
}


<h1>Confirmation</h1>
<br />


<h1>Thank you for making a crash record!</h1>


<p>Work more with the crash database with the link below</p>
<br />
<a asp-controller="home" asp-action="Summary">Back to Crash Summary</a>
