@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>to our website about Utah drivers.</p>
    <p>Link to the summary for now<a asp-controller="home" asp-action="Summary"> Summary</a></p>
</div>
  
